{{~ fetch '/plan/get/by/unique-id/' + query.pn | as 'plan'}}

<div class="modal modal--closed flex--a-start flex--j-center" id="new-opening-modal">
    <form class="modal__main card" {{submit "Opening.add(event)"}}>
        <div class="card__header flex flex--a-center flex--j-space-between">
            <div>
                <h1>New material.</h1>
                <p>Add material to your plan</p>
            </div>
            <svg class="image--icon" {{click "Util.closeModal('new-opening')"}}>
                <use href="#cross"></use>
            </svg>
        </div>
        <div class="card__body">
            <input id="plan-id" value="{{ plan.details.plan_id }}" hidden>

            <div class="error-container hide" id="opening-error">
                <p></p>
            </div>

            <div class="input">
                <input type="number" id="quantity" value="1" placeholder="Quantity">
            </div>

            <div class="input">
                <label class="input__label" for="opening-kind">Material kind</label>
                <select id="opening-kind" {{change "Opening.showKind()"}}>
                    <option value="select">-- Select --</option>
                    <option value="door">Door</option>
                    <option value="window">Window</option>
                </select>
            </div>

            <div class="input hide margin--top-1" id="door-selection">
                <label class="input__label" for="door-kind">Door selection</label>
                <select id="door-kind">
                    <option value="select">-- Select --</option>
                    <option value="single leaf">Single leaf</option>
                    <option value="double leaf">Double leaf</option>
                    <option value="2 pane sliding door">2 pane sliding door</option>
                    <option value="4 pane sliding door">4 pane sliding door</option>
                    <option value="single garage door">Single garage door</option>
                    <option value="double garage door">Double garage door</option>
                </select>
            </div>

            <div class="input hide margin--top-1" id="window-selection">
                <label class="input__label" for="window-kind">Window selection</label>
                <select id="window-kind">
                    <option value="select">-- Select --</option>
                    <option value="1">1.2m X 1.8m</option>
                    <option value="2">1.4m X 1.8m</option>
                    <option value="3">2m x 2m</option>
                    <option value="4">2.2m X 2.4m</option>
                    <option value="5">3m X 3m</option>
                </select>
            </div>

        </div>
        <div class="card__footer">
            <button class="btn btn--primary">Add material</button>
            <button type="button" class="btn" {{click "Util.closeModal('new-opening')"}}>Cancel</button>
        </div>
    </form>
</div>