{{~ fetch '/foundation/get/by/plan/unique-id/' + query.pn | as 'foundation'}}

<div class="modal modal--closed flex--a-start flex--j-center" id="view-foundation-modal">
    <form class="modal__main card">
        <div class="card__header flex flex--a-center flex--j-space-between">
            <div>
                <h1>Foundation</h1>
                <p>Foundation details</p>
            </div>
            <svg class="image--icon" {{click "Util.closeModal('view-foundation')"}}>
                <use href="#cross"></use>
            </svg>
        </div>
        <div class="card__body">
            <p>Height: {{ foundation.details.height }}</p>
            <p>Width: {{ foundation.details.width }}</p>
            <p>Concrete volume (m<sup>3</sup>): {{ foundation.details.concrete }}</p>
        </div>
        <div class="card__footer">
            <button type="button" class="btn" {{click "Util.closeModal('view-foundation')"}}>Cancel</button>
        </div>
    </form>
</div>