{{~ scope 'all' }}

<header class="main-header flex flex--a-center flex--j-space-between">
    <div class="main-header__logo">
        <img src="/assets/logo/png/logo-no-background.png" alt="">
    </div>
    <div class="main-header__account flex flex--a-center">
        {{#if userDetails}}
            <p class="margin--right-1">Welcome, {{lowercase userDetails.firstname + " " + userDetails.lastname }}</p>
            <p class="margin--right-1">|</p>
            <p style="cursor: pointer;" {{click "Util.signOut()"}}>Sign out</p>
        {{else}}
            <button class="btn btn--primary-out margin--right-1" {{click "Util.link('/sign-up')"}}>Sign up</button>
            <a href="/sign-in" {{click "Util.nav(event)"}}>Sign in</a>
        {{/if}}
    </div>
</header>