{{~ scope 'plan.view' }}
{{~ fetch '/plan/get/by/unique-id/' + query.pn | as 'plan'}}
{{~ fetch '/openings/get/by/plan-id/' + plan.details.plan_id | as 'openings'}}
{{~ fetch '/roof/get/' + plan.details.plan_id | as 'roof'}}
{{~ json openings.openings | as 'openingss'}}

<div class="container__padded" style="width: 67%;">
    <div class="container__title">
        <h1>Plan manager</h1>
        <p>View and edit your plan from here</p>
        <div class="container__title__hr"></div>
    </div>

    <div class="search-download flex flex--j-space-between flex--a-center" style="margin-bottom: 2rem;">
        <div class="input" style="flex: 0 0 50rem;">
            <input type="text" id="opening-query" placeholder="Search by kind, length... etc" {{keyup "Opening.search('<<plan.details.plan_id>>')"}}>
        </div>
        <p {{click "Opening.downloadCSV(event)"}} data-openings='{{openingss}}' style="cursor: pointer;">Get CSV Report</p>
    </div>

    {{#if roof.roof}}
        <div class="margin--top-2" style="margin-bottom: 2rem;">
            <h4>Roof added</h4>
            <p>Tiles needed: {{roof.roof.tiles}}</p>
        </div>
    {{/if}}

    <div class="card table">
        <div class="table__header">
            <ul class="table__header__row flex">
                <li class="table__header__row__item">Kind</li>
                <li class="table__header__row__item">Area length</li>
                <li class="table__header__row__item">Area height</li>
                <li class="table__header__row__item">Bricks saved</li>
                <li class="table__header__row__item">Sand saved (kg)</li>
                <li class="table__header__row__item">Cement saved (bags)</li>
                <li class="table__header__row__item">...</li>
            </ul>
        </div>
        <div class="table__body" id="openings">
            {{#each openings.openings}}
                <ul class="table__body__row flex">
                    <li class="table__body__row__item">{{this.kind}}</li>
                    <li class="table__body__row__item">{{this.length_area}}</li>
                    <li class="table__body__row__item">{{this.height_area}}</li>
                    <li class="table__body__row__item">{{this.bricks_saved}}</li>
                    <li class="table__body__row__item">{{this.sand_saved}}</li>
                    <li class="table__body__row__item">{{this.cement_saved}}</li>
                    <li class="table__body__row__item flex" style="cursor: pointer; justify-content: flex-end;">
                        <span {{click "Opening.removeOpening('<<this.material_id>>')"}}>remove</span>
                    </li>
                </ul>
            {{/each}}
        </div>
    </div>

    <div class="flex flex--a-center margin--top-2">
        <button class="btn btn--primary margin--right-2" {{click "Util.openModal('new-opening')" }}>Add material</button>
        <button class="btn btn--primary margin--right-2" {{click "Util.openModal('new-foundation')" }}>Add foundation</button>
        <button class="btn btn--primary margin--right-2" {{click "Util.openModal('new-roof')" }}>Add roof</button>
        <p {{click "Util.openModal('view-foundation')" }} style="cursor: pointer;">View foundation details</p>
    </div>

    <a download id="download-anchor"></a>

    {{component 'modal/new-opening'}}
    {{component 'modal/new-foundation'}}
    {{component 'modal/new-roof'}}
    {{component 'modal/view-foundation'}}
</div>